<% include ../partials/header %>
<main id="comment-new">    
    <h1>Add A New Comment to <%= moment.postname %></h1>
    <div class="row">     
        <div style="width: 30%; margin: 25px auto">
            <form action="/moments/<%= moment._id %>/comments" method="POST">
                <div class="form-group">
                    <textarea class="form-control" type="text" placeholder="Write your comment" name="comment[text]"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/">Home</a>
        </div>
        
    </div>
</main>
<% include ../partials/footer %>