body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
}

.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.deletebutton, .editbutton{
    display: inline;
}

